<ion-content class="tutorial-page" color="dark">
    <div padding-top text-end>
        <ion-button fill="clear" [routerLink]="'/login/'" routerDirection="forward" color="light">Saltar
            <ion-icon name="arrow-forward"></ion-icon>
        </ion-button>
    </div>

    <ion-button (click)="nfclick()">NFC</ion-button>

    <ion-slides pager="true">
        <ion-slide>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <img src="../../assets/icon/123.png" alt="">
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <h2>Bienvenido a un dos tres</h2>
                        <p>La forma más fácil, rápida y segura de hacer tus pagos.</p>
                        <br>
                        <br>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>

        <ion-slide>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <img src="../../assets/icon/favicon.png" alt="">
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <h2>RECARGA CELULAR</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, distinctio facilis nesciunt iure id sed aspernatur aliquid quae laborum vero consequatur nam accusamus tenetur, necessitatibus maiores odit ipsam deserunt eos!</p>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>

        <ion-slide>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <div></div>
                        <img src="../../assets/icon/favicon.png" alt="">
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <h2>PAGA TUS SERVICIOS</h2>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique illum assumenda ab fuga voluptates, tempora autem quas temporibus repellat sunt harum voluptas cum dignissimos sint! Eius et ullam quo ratione.</p>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>

        <ion-slide>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <img src="../../assets/icon/favicon.png" alt="">
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <h2>Titulo</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, distinctio facilis nesciunt iure id sed aspernatur aliquid quae laborum vero consequatur nam accusamus tenetur, necessitatibus maiores odit ipsam deserunt eos!</p>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>

        <ion-slide>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <div></div>
                        <img src="../../assets/icon/favicon.png" alt="">
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <h2>Titulo</h2>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique illum assumenda ab fuga voluptates, tempora autem quas temporibus repellat sunt harum voluptas cum dignissimos sint! Eius et ullam quo ratione.</p>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>




        <ion-slide>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <img src="../../assets/icon/favicon.png" alt="">
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <h2>¿Estas listo?</h2>
                        <ion-button expand="block" fill="clear" [routerLink]="'/meetup/'" routerDirection="forward">Comenzar</ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>


        <ion-slide>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <img src="../../assets/icon/favicon.png" alt="">
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <h2>¿Estas listo?</h2>
                        <ion-button expand="block" fill="clear" [routerLink]="'/meetup/'" routerDirection="forward">Comenzar</ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>
    </ion-slides>
</ion-content>